<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Skin Disease Recognition</title>

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/boxicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/glightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/remixicon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">Skin Disease Recognition</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="/skin-diseases">Skin Diseases</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#departments">Departments</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li> -->
                    <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
                    <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <a href="#upload" class="appointment-btn scrollto"><span class="d-none d-md-inline">Submit a</span> Photo</a>

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center mb-5">
        <div class="container">
            <h1>Welcome to SDR LAB</h1>
            <h2>Where you submit a skin image to see if you have skin disease.</h2>
            <br>
            <br>
            <p class="fst-italic" style="margin-right: 50%;">Urgently and decisively diagnosing skin diseases guarantees their manageability. Automating the diagnosis by designing and implementing a web app with a machine learning model that can assist the dermatologist in doing so.</p>
            <a href="#upload" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Upload Section ======= -->
        <section id="upload" class="why-us mt-5 row">
            <div class="container col-xl-4 mb-4">
                <div class="align-items-center mx-auto">
                    <div class="icon-boxes flex-column justify-content-center">
                        <div class="align-items-stretch mx-auto">
                            <div class="icon-box mx-auto" style="width: 450px;">
                                <h4>Upload here</h4>
                                <form action="/upload" method="post" enctype="multipart/form-data">
                                    <input class="form-control my-3" name="file" type="file" accept="image/*" required/>
                                    <input class="form-control btn btn-primary" type="submit">
                                </form>
                                <br>
                                <p>---- or ----</p>
                                <button id="take-img-btn" type="button" class="btn-link btn">Take a Photo</button>
                            </div>
                        </div>
                    </div>
                    <!-- End .content-->
                </div>
            </div>

            <div class="container col-xl-4 take-img-con" style="display: none;">
                <div class="icon-boxes align-items-stretch mx-auto d-flex">
                    <div class="icon-box mx-auto bg-primary" style='width: 415px;'>
                        <h4 class="text-light">Take a photo to submit</h4>
                        <div id='container'></div>
                        <div class="row buttons">
                            <div class="btn-group col-6" role="group">
                                <button id="capture-btn" type="button" class="btn btn-success">Capture</button>
                                <button id="retake-btn" type="button" class="btn btn-secondary" disabled>Retake</button>
                            </div>
                            <div class="col-6">
                                <button id="submit-btn" class="col-6 btn btn-warning w-100" disabled>Submit</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Why Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>SDR LAB</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/purecounter.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript>
        { %
            if redirect %
        }
        document.getElementById("{{redirect}}").scrollIntoView({
            behavior: 'smooth'
        }); { % endif %
        }
    </script>


    <!-- Teachable Machine Model -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script type="text/javascript">
        // Video
        let video, flippedVideo;
        let captureBtn, retakeBtn, submitBtn, takePhotoBtn, captured;
        let isOpenCam;

        function reset() {
            const myCanvas = createCanvas(350, 350);
            myCanvas.parent('container');

            // Create the video
            video = createCapture(VIDEO);
            video.size(350, 350);
            video.hide();
        }

        function setup() {
            isOpenCam = false
            captureBtn = select('#capture-btn')
            captureBtn.mousePressed(capture)

            submitBtn = select('#submit-btn')
            submitBtn.mousePressed(submitImg)

            retakeBtn = select('#retake-btn')
            retakeBtn.mousePressed(retake)

            takePhotoBtn = select('#take-img-btn')
            takePhotoBtn.mousePressed(openCam)
        }

        function openCam() {
            isOpenCam = true;
            reset();
            $(".take-img-con").fadeIn();
            draw();
        }

        function capture() {
            captured = video.get();
            captured = ml5.flipImage(captured);
            submitBtn.removeAttribute('disabled');
            retakeBtn.removeAttribute('disabled');
            captureBtn.attribute('disabled', '');
        }

        function retake() {
            reset();
            captureBtn.removeAttribute('disabled');
            submitBtn.attribute('disabled', '');
            retakeBtn.attribute('disabled', '');
        }

        async function submitImg() {
            var canvas = document.getElementById('defaultCanvas0');
            let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, 'image/png'));

            let formData = new FormData();
            formData.append("file", imageBlob, "captured.png");

            var request = new XMLHttpRequest();
            request.open("POST", "/capture");
            request.send(formData);
            window.location.replace("/result");
        }

        function draw() {
            if (isOpenCam) {
                background(51);
                // Draw the video

                flippedVideo = ml5.flipImage(video);
                image(flippedVideo, 0, 0)
            }
        }
    </script>
</body>

</html>