<!DOCTYPE html>
<html lang="en">

<head>

    <title>Skin Disease Recognition</title>

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/boxicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/glightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/remixicon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">Skin Disease Recognition</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/skin-diseases">Skin Diseases</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <a href="/upload" class="appointment-btn scrollto"><span class="d-none d-md-inline">Submit a</span> Photo</a>

        </div>
    </header>
    <!-- End Header -->

    <!-- Spinner -->
    <div class="spinner-con">
        <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- End Spinner -->

    <main id="main">
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us mt-5 counts">
            <div class="container">
                <div class="section-title mt-5">
                    <h1>Results</h1>
                    <p>Here are the potential skin conditions of the analyzed photo ordered by confidence</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-xl-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Uploaded photo</h3>
                            <img src="{{ url_for('display_image', filename=filename)}}" alt="Skin image uploaded." style="width: 350px; height: 350px;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <a id="cond-link-0" href="" target="_blank">
                                        <div id="cond-con-0" class="icon-box mt-4 mt-xl-0" style="display: none;">
                                            <div class="count-box p-0 d-flex flex-column justify-content-center">
                                                <h3 id='cond-0'></h3>
                                                <span id="cond-count-0"></span>
                                                <p>confindence</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <a id="cond-link-1" href="" target="_blank">
                                        <div id="cond-con-1" class="icon-box mt-4 mt-xl-0" style="display: none;">
                                            <div class="count-box p-0 d-flex flex-column justify-content-center">
                                                <h3 id='cond-1'></h3>
                                                <span id="cond-count-1"></span>
                                                <p>confindence</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <a id="cond-link-2" href="" target="_blank">
                                        <div id="cond-con-2" class="icon-box mt-4 mt-xl-0" style="display: none;">
                                            <div class="count-box p-0 d-flex flex-column justify-content-center">
                                                <h3 id='cond-2'></h3>
                                                <span id="cond-count-2"></span>
                                                <p>confindence</p>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End .content-->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Us Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>SDR LAB</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/purecounter.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Teachable Machine Model -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script type="text/javascript">
        // Classifier Variable
        let classifier;
        // Model URL
        let imageModelURL = 'https://teachablemachine.withgoogle.com/models/J4GDdHkfd/';

        // To store the classification
        let uploadedImage;

        let spinner = $('.spinner-con');

        // Load the model first
        function preload() {
            classifier = ml5.imageClassifier(imageModelURL + 'model.json');
            uploadedImage = loadImage('/static/uploads/{{filename}}');
        }

        function setup() {
            classifier.predict(uploadedImage, gotResult)
        }

        function getLink(label) {
            label = label.toLowerCase();
            if (label.includes('acne')) {
                return '/disease/1';
            }
            if (label.includes('actinic')) {
                return '/disease/2';
            }
            if (label.includes('atopic')) {
                return '/disease/3';
            }
            if (label.includes('bullous ')) {
                return '/disease/4';
            }
            if (label.includes('cellulitis')) {
                return '/disease/5';
            }
            if (label.includes('eczema')) {
                return '/disease/6';
            }
            if (label.includes('herpes ')) {
                return '/disease/7';
            }
            if (label.includes('light')) {
                return '/disease/8';
            }
            if (label.includes('melanoma')) {
                return '/disease/9';
            }
            if (label.includes('psoriasis')) {
                return '/disease/10';
            }
            if (label.includes('rosacea')) {
                return '/disease/11';
            }
            if (label.includes('scabies')) {
                return '/disease/12';
            }
        }

        // When we get a result
        function gotResult(error, results) {
            // If there is an error
            if (error) {
                console.error(error);
                return;
            }
            // The results are in an array ordered by confidence.
            for (let i = 0; i < 3; i++) {
                let result = results[i]
                let label = result.label;
                let prob = result.confidence * 100;
                // cond = condition
             
                $(`#cond-${i}`).html(label);
                $(`#cond-count-${i}`).html(`${prob.toFixed(2)} %`);
                $(`#cond-link-${i}`).attr('href', getLink(label));
                $(`#cond-con-${i}`).show();
            }
            spinner.fadeOut();
        }
    </script>

</body>

</html>