<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Skin Disease Recognition</title>

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/boxicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/glightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/remixicon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">Skin Disease Recognition</a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="/">Home</a></li>
                    <li><a class="nav-link scrollto active" href="/skin-diseases">Skin Diseases</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <a href="/upload" class="appointment-btn scrollto"><span class="d-none d-md-inline">Submit a</span> Photo</a>

        </div>
    </header>
    <!-- End Header -->

    <main id="main">
        <!-- ======= Skin Disease Section ======= -->
        <section id="skin" class="departments mt-5">
            <div class="container">
                <div class="section-title mt-5">
                    <h1>More on Skin Diseases</h1>
                    <p>The following are some of the skin diseases with few descriptions and preventions.</p>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Acne</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Actinic Keratosis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Atopic Dermatitis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Bullous Disease</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Cellulitis Impetigo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Eczema</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Herpes HPV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Light Diseases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-9">Melanoma Skin Cancer Nevi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-10">Psoriasis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-11">Rosacea</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-12">Scabies Lyme Disease</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Acne</h2>
                                        <h4>Description</h4>
                                        <p>Acne is a skin condition that occurs when your hair follicles become clogged with oil and dead skin cells. Acne is most common among teenagers, though it affects people of all ages.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Whiteheads, blackheads, pimples, and Small red, tender bumps.
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Properly wash face, Moisturize Skin, Stay Hydrated.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/acne/symptoms-causes/syc-20368047' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image24.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image10.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Actinic Keratosis</h2>
                                        <h3>Description</h3>
                                        <p>
                                            An actinic keratosis (ak-TIN-ik ker-uh-TOE-sis) is a rough, scaly patch on the skin that develops from years of sun exposure. It's often found on the face, lips, ears, forearms, scalp, neck or back of the hands. Also known as a solar keratosis, an actinic
                                            keratosis grows slowly and usually first appears in people over 40. You can reduce your risk of this skin condition by minimizing your sun exposure and protecting your skin from ultraviolet (UV) rays.
                                        </p>
                                        <h3>Symptoms</h3>
                                        <p>
                                            Rough, dry or scaly patch of skin. Color variations, including pink, red or brown. New patches or bumps on sun-exposed areas of the head, neck, hands and forearms. Itching, burning, bleeding or crusting.
                                        </p>
                                        <h3>Prevention</h3>
                                        <p>
                                            Limit your time in the sun, use sunscreen, cover up, avoid tanning beds, and check your skin regularly and report changes to your doctor.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/actinic-keratosis/symptoms-causes/syc-20354969#:~:text=An%20actinic%20keratosis%20(ak%2DTIN,or%20back%20of%20the%20hands.' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image25.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image26.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Atopic Dermatitis</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Atopic dermatitis (eczema) is a condition that makes your skin red and itchy. It's common in children but can occur at any age. Atopic dermatitis is long-lasting (chronic) and tends to flare periodically. It may be accompanied by asthma or hay fever.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Dry skin, Small, raised bumps, Red to brownish-gray patches and Thickened, cracked, scaly skin
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Use moisturizer, Wash your skin, and apply a barrier cream or gel to protect the skin.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/atopic-dermatitis-eczema/symptoms-causes/syc-20353273' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image12.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image4.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Bullous Disease</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Bullous pemphigoid (BUL-us PEM-fih-goid) is a rare skin condition that causes large, fluid-filled blisters. They develop on areas of skin that often flex — such as the lower abdomen, upper thighs or armpits. Bullous pemphigoid is most common in older
                                            adults.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Large blisters that don't easily rupture when touched, often along creases or folds in the skin, Small blisters or sores in the mouth or other mucous membranes (benign mucous membrane pemphigoid), Itching skin, weeks or months before blisters form
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            For sensitive skin, avoid Light and radiation.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/bullous-pemphigoid/symptoms-causes/syc-20350414' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image14.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image20.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Cellulitis Impetigo</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Cellulitis is a bacterial infection of the skin and tissues beneath the skin.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Redness, pain and tenderness, swelling, enlarged lymph nodes, and the warmth of the affected area.

                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Under some circumstances, cellulitis can be prevented by proper hygiene, treating chronic swelling of tissues (edema), care of wounds or cuts. In other cases, microscopic breaks in the skin may not be apparent and infection may develop. In general, cellulitis
                                            in a healthy person with an intact immune system is preventable by avoiding skin surface wounds. In people with predisposing conditions (see above) and/or weakened immune systems, cellulitis may not always be
                                            preventable.
                                        </p>
                                        <a href='https://www.medicinenet.com/cellulitis/article.htm' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image23.png') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image22.png') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-6">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Eczema</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Eczema is sometimes called atopic dermatitis, which is the most common form. “Atopic” refers to an allergy. People with eczema often have allergies or asthma along with itchy, red skin.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Small bumps, redness of skin
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Avoid sudden changes in temperature or humidity, Manage stress, and take time for yourself to relax, Don't use harsh soaps, detergents, or solvents
                                        </p>
                                        <a href='https://www.healthline.com/health/types-of-eczema#treatment' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image7.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image15.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-7">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Herpes HPV</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Herpes is a common sexually transmitted infection caused by the herpes simplex virus (HSV). Sexual contact is the primary way that the virus spreads. It can also be transmitted from one person to another through skin-to-skin contact

                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Small red bumps or tiny white blisters, Pain or itching, Ulcers
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Practice safe sex, Practice proper hygiene
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/genital-herpes/symptoms-causes/syc-20356161' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image13.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image21.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-8">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Light Diseases</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Pigmentation means coloring. Skin pigmentation disorders affect the color of your skin. Your skin gets its color from a pigment called melanin. Special cells in the skin make melanin. When these cells become damaged or unhealthy, it affects melanin production.
                                            Some pigmentation disorders affect just patches of skin. Others affect your entire body.

                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Darkened areas on the skin are the main symptoms of hyperpigmentation. Patches can vary in size and develop anywhere on the body.
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            It’s not always possible to prevent hyperpigmentation. However, you can protect yourself by: using sunscreen with an SPF of at least 30, wearing hats or clothing that block sunlight, avoiding the sun during the time of the day when it’s strongest, which
                                            is typically 10 a.m. to 4 p.m.
                                        </p>
                                        <a href='https://www.aafp.org/afp/2017/1215/p797.html' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image2.png') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image5.png') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-9">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Melanoma Skin Cancer Nevi</h2>
                                        <h4>Description</h4>
                                        <p>
                                            The most serious type of skin cancer, develops in the cells (melanocytes) that produce melanin — the pigment that gives your skin its color. Melanoma can also form in your eyes and, rarely, inside your body, such as in your nose or throat.

                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            They most often develop in areas that have had exposure to the sun, such as your back, legs, arms and face Symptoms include: A change in an existing mole, and The development of a new pigmented or unusual-looking growth on your skin.
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Avoid the sun during the middle of the day, Wear protective clothing, Become familiar with your skin so that you'll notice changes.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/melanoma/symptoms-causes/syc-20374884' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image8.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image18.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-10">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Psoriasis</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Psoriasis is a skin disease that causes red, itchy scaly patches, most commonly on the knees, elbows, trunk, and scalp. Psoriasis is a common, long-term (chronic) disease with no cure.
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Red patches of skin covered with thick, silvery scales and Dry, cracked skin that may bleed or itch.
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Avoid Dry, Cold Weather, Avoid Scrapes, Cuts, Bumps, and Infections, Use Moisturizing Lotions
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/psoriasis/symptoms-causes/syc-20355840' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image17.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image11.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-11">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Rosacea</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Rosacea (roe-ZAY-she-uh) is a common skin condition that causes redness and visible blood vessels in your face
                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Redness and visible blood vessels in your face, small, red, pus-filled bumps
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Protect skin from the sun, Avoid Overheating, Limit Alchohol.
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/rosacea/symptoms-causes/syc-20353815' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image19.jpg') }}" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image3.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-12">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h2>Scabies Lyme Disease</h2>
                                        <h4>Description</h4>
                                        <p>
                                            Scabies is an itchy skin condition caused by a tiny burrowing mite called Sarcoptes scabiei. Intense itching occurs in the area where the mite burrows. The urge to scratch may be especially strong at night.

                                        </p>
                                        <h4>Symptoms</h4>
                                        <p>
                                            Itching, often severe and usually worse at night, Thin, irregular burrow tracks made up of tiny blisters or bumps on your skin
                                        </p>
                                        <h4>Prevention</h4>
                                        <p>
                                            Clean all clothes and linen, Exterminated mites and prevent them from spreading/nesting into the residence
                                        </p>
                                        <a href='https://www.mayoclinic.org/diseases-conditions/scabies/symptoms-causes/syc-20377378' target="_blank" class="btn btn-primary">Read More</a>

                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ url_for('static',filename='/images/image6.jpg') }}" alt="" class="img-fluid"><img src="src/images/image6.jpg" alt="" class="img-fluid">
                                        <img src="{{ url_for('static',filename='/images/image9.jpg') }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Skin -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>SDR LAB</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/purecounter.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Template Main JS File -->
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript>
        {% if redirect %}
        document.querySelector('[href="#tab-{{redirect}}"]').click(); 
        {% endif %}
    </script>

</body>

</html>